/Tp3Programacion2/nbproject/private/
/Tp3Programacion2/build/
/Tp4Programacion2/nbproject/private/
/Tp4Programacion2/build/
/Tp5Programacion2/nbproject/private/
/Foto/nbproject/private/
/Tp5Programacion2/build/
